:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* custom properties */

  --clr-01: rgb(218, 228, 241);
  /* paragraphs */
  --bgc-01: #242424;
  /* body */
}

/* Global */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--clr-1);
  background-color: var(--bgc-01);
}

img {
  max-width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* light theme */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* mobile */
